[submodule "backend"]
	path = backend
	url = https://github.com/LuDColl/medical-insurance-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/LuDColl/medical-insurance-frontend.git
	branch = main
